[submodule "drawio"]
	path = drawio
	url = https://github.com/AppendAutomation/drawio.git
	branch = hmi
[submodule "comms/lib/cslogix"]
	path = comms/lib/cslogix
	url = https://github.com/AppendAutomation/cslogix.git
[submodule "comms/lib/cscomm3_slc"]
	path = comms/lib/cscomm3_slc
	url = https://github.com/AppendAutomation/cscomm3_slc.git
